{% extends 'bootstrap4/bootstrap4.html' %}

{% load bootstrap4 static i18n %}

{% block bootstrap4_title %}{% trans 'Python Academy Forum' %}{% endblock %}

<!-- Overwrite js extra panel -->
{% block bootstrap4_extra_head %}
    {% bootstrap_javascript jquery='full' %}
{% endblock %}

<!-- Overwrite place before content -->
{% block bootstrap4_before_content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="{% url 'common:index' %}">{% trans 'Python Academy Forum' %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdow-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Profile' %} {{ request.user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
                    </div>
                </li>
            {% else %}
                <li class='nav-item {% if "logout" in request.path %} active {% endif %}'>
                    <a class="nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link" href="{% url 'common:register' %}">{% trans 'Register' %}</a>
                </li>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
{% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block bootstrap4_content %}
<div class="container">
    <div class="row">
        <div class="col pt-5">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
